.inspired {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  background-color: #DCC4FB;
  border-radius: #{get-size(300)};
  box-shadow: 1px 1px 5px #8F0899;
  
  p, cite {
    margin: 0 #{get-size(300)};
    text-align: center;
  }
  cite::before {
    content:"—"
  }
  .button {
    margin: #{get-size(300)} 20%;
  }

}