.reference {
  display: flex;
  // width: 400px;
  // height: 400px;
  justify-content: center;
  flex-direction: column;
  margin:0;
  background-color: #845ABB;
  color:white;
  border-radius: 50% 50% 50% 0;
  padding-top: 3.2em;
  padding-bottom: #{get-size(300)};
  
  // box-shadow: 1px 1px 5px #8F0899;
  
  svg, p {
    margin: 0 1rem;
    text-align: center;
  }

  cite {
    margin-right: #{get-size(800)};
    text-align: left;
  }


  svg {
    transform: scale(2) translate(0%, -30%);

  }

  .button {
    margin: 2em 32% 0 5%;
  }
  cite::before {
    content:"※ "
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .reference {
    margin:#{get-size(600)};
    svg {
      transform: scale(3) translate(0%, -30%);
    }
    .button {
      margin: 3em 40% 0 10%;
    }
  }
}