.site-head {
  background-color: var(--color-primary);
  color: var(--color-light);

  &__inner{
    display:grid;
    row-gap: 1em;
    column-gap: 3em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    grid-template-areas: 
    "logo"
    "nav";
  }

  &__site-logo {
    grid-area:logo;
    margin-top: .1em;
  }

  &__logo {
    min-height: .5em;
  }
    & nav {
      grid-area: nav;
    }
  
}


@media (min-width: 768px) {
.site-head {
  
  &__inner {
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo nav";
  }

}
}