.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-primary);
  color: var(--color-light);
  width:100vw;
  clip-path: path('M0 0s215.724 121.57 408.203 121.57C600.682 121.57 820.134-1.01 1093.73 0c270.23 1 337.31 78.41 337.31 78.41V291.4H0V0z');

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }
}
