{% from "macros/form.njk" import label, field, hidden_field, textarea ,select, button %}
{% for form in forms.forms %}
  {% if form.formName == "Enquiry" %}
  <form id="form-{{form.formName}}" name="{{form.formName}}" method="POST" data-netlify="true" action="{{form.action}}" netlify-honeypot="{{form.honeyPot}}">
    <ol class="[ contact field-list visually-hidden ]">
      {% for inputs in form.input %}
        <li class="[ field-list__field-group ]">
          {% if not (inputs.type == "hidden_field") %}
            {{ label(inputs.inputLabel, inputs.inputName) }}
          {% endif %}
          {% if inputs.type == "field" %}
            {{ field(inputs.type, inputs.inputName,inputs ) }} 
          {% elif inputs.type == "hidden_field" %}
            {{ hidden_field(inputs.inputName ) }} 
          {% elif inputs.type == "textArea" %}
          {{ textarea(inputs.inputName, inputs) }} 
          {% elif inputs.type == "select" %}
            {{ select("time", inputs.options)}}
          {% endif %} 
        </li>
      {% endfor %}
      {{ button(form.submitButton) }}
    </ol>
  </form>
  {% endif %}
{% endfor %}