{% if inspiration.inspire %}
{% set homePage = (true if pageType == 'Homepage' else false) %}
  {% for inspired in inspiration.inspire %}
    {% set showQuote = true %}
    {% if not (inspired.onHomepage and homePage) %}
      {% set showQuote = false %}
    {% endif %}

    {% if showQuote %}
      <aside class="inspired text-500">
        <p>{{ inspired.quote }}</p>
        {% if inspired.source %}
        <cite> {{ inspired.source }} </cite>
        {% endif %}
        {% if inspired.showButton and homePage %}
          <a class="button" href="/inspiration/" >Inspiration</a>
        {% endif %}
      </aside> 
    {% endif %}  
  {% endfor %}
{% endif %}