
{% if headerImage %}
  <header class="intro__headings">
    <img class= " intro__heading " src={{headerImage}} alt="{{introHeading}}">
{% else %}
  <header class="inner-wrapper gap-top-800 intro__headings">
    <h1 class="[ intro__heading {{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
{% endif %}
  <h2 class="intro__subHeading">{{introSub}}</h2>
</header>
{% if introSummary %}
<div class="[ intro__summary gap-top-800 ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
{% endif %}
{% if heroImage %}
  <div class="intro__image"><img src="{{heroImage}}" alt="{{heroImageAlt}}"></div>
{% endif %}