
{% if headerImage %}
  <header class="intro__headings">
    <img class= " intro__heading " src={{headerImage}} alt="{{introHeading}}">
{% else %}
  <header class="inner-wrapper gap-top-800 intro__headings">
    <h1 class="[ intro__heading {{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
{% endif %}
  <h2 class="intro__subHeading">{{introSub}}</h2>
</header>
{% if site.heroBox and (pageType == 'Homepage')%}
{% for hero in site.heroBox %}
  {% if hero.show %}
    {% set heroContent %}
      {{ hero.content | safe }}
    {% endset %}
    <div class="hero gap-bottom-800">
      {{heroContent | safe}}
      {% set thisForm = "subscribe" %}
      {% include "partials/components/forms.njk" %}
    </div>
  {% endif %}
{% endfor %}
  
{% endif %}
{% if introSummary %}
<div class="[ intro__summary gap-top-800 pad-left-300 ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
{% endif %}
{% if heroImage %}
  <div class="intro__image  gap-top-500"><img src="{{heroImage}}" alt="{{heroImageAlt}}"></div>
{% endif %}