{% if references.reference %}
  {% set homePage = (true if pageType == 'Homepage' else false) %}
  {% set quoteSearch = true %}
  {% for ref in references.reference %}
    {% set showQuote = false %}
    {% if homePage %}
      {% if quoteSearch %}
        {% if ref.onHomepage %}
          {% set showQuote = true %}
          {% set quoteSearch = false %}
        {% endif %}
      {% endif %}
    {% else %}
      {% set showQuote = true %}
    {% endif %}
    
    {% if showQuote %}
      <blockquote class="reference circle_text text-500">
          <span>
            <p>{% include "icons/quote.svg" %}</p>
            {{ ref.quote }}</span>
        <p>
          <cite> {{ ref.refereeName }}: {{ ref.refereeTitle }} </cite>
        </p>    
        {% if homePage %}
          <button class="button">Client Success</button>
        {% endif %}
      </blockquote> 
    {% endif %}
  {% endfor %}
{% endif %}