{% if references.reference %}
{% set homePage = (true if pageType == 'Homepage' else false) %}
  {% for ref in references.reference %}
    {% set showQuote = true %}
    {% if not (ref.onHomepage and homePage) %}
      {% set showQuote = false %}
    {% endif %}

    {% if showQuote %}
      <blockquote class="reference circle_text text-500">
          <span>
            <p>{% include "icons/quote.svg" %}</p>
            {{ ref.quote }}</span>
        <p>
          <cite> {{ ref.refereeName }}: {{ ref.refereeTitle }} </cite>
        </p>    
      </blockquote> 
    {% endif %}
  {% endfor %}
{% endif %}