{% if references.reference %}
{% set homePage = (true if pageType == 'Homepage' else false) %}
  {% for ref in references.reference %}
    {% set showQuote = true %}
    {% if not (ref.onHomepage and homePage) %}
      {% set showQuote = false %}
    {% endif %}

    {% if showQuote %}
      <blockquote class="reference text-500">
        <p>{% include "icons/quote.svg" %}</p>
        <p>{{ ref.quote }}</p>
        <cite> {{ ref.refereeName }}: {{ ref.refereeTitle }} </cite>
        {% endif %}
        {% if ref.showButton %}
          <button class="button">Client Success</button>
        {% endif %}
      </blockquote> 
      
  {% endfor %}
{% endif %}