{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set headerImage = titleImage %}
{% set heroImage = heroImage %}
{% set heroImageAlt = heroImageAlt %}
{% set introSub = metaDesc %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{% block content %}
  <main id="main-content" class="gap-top-800 wrapper " tabindex="-1">
    <div class="home-grid">
      
      {% include "partials/components/intro.njk" %}
      {% include "partials/components/reference.njk" %}
      {% include "partials/components/inspiration.njk" %}
      {% include "partials/components/pagination.njk" %}
    </div>
  </main>
{% endblock %}
