{% extends 'layouts/base.njk' %}
{% set pageType = 'Programs' %}

{# Intro content #}
{% set headerImage = titleImage %}
{% set introSub = metaDesc %}

{% block content %}
  <main id="main-content" class="gap-top-800 wrapper programs-grid" tabindex="-1">
    {% include "partials/components/intro.njk" %}

    {% for program in collections.program %}
      <div class="program">
        <h1 class="program__heading">
          {{program.data.title}}
        </h1>
        <div class="program__details"></div>
          {{program.data.content | safe}}
          <button  class="ta-center button">
            <span>{{program.data.btnText}}</span>
          </button>
        </div>
      </div>
    {% endfor %}
    {% include "partials/components/enquiry-form.njk" %}
  </main>
{% endblock %}
