{% extends 'layouts/base.njk' %}
{% set pageType = 'Programs' %}

{# Intro content #}
{% set headerImage = titleImage %}
{% set introSub = metaDesc %}

{% block content %}
  <!-- <form class="gap-bottom-max gap-top-800 wrapper"name="enquiry" method="POST" data-netlify="true" action="/thank-you" netlify-honeypot="sirname"> -->
  <main id="main-content" class="gap-bottom-max gap-top-800 wrapper programs-grid" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% for program in collections.program %}
      <div class="program gap-bottom-max gap-top-800 ">
        <h1 class="program__heading">
          {{program.data.title}}
        </h1>
        <div class="program__details"></div>
          {{program.data.content | safe}}
          <button  class="ta-center button">
            {{program.data.btnText}}
          </button>
        </div>
      </div>
    {% endfor %}
    {% set thisForm = "Enquiry" %}
    {% include "partials/components/forms.njk" %}
  </main>
  <script>
    document.querySelectorAll('.contact').forEach((e) => e.classList.add('visually-hidden'))
    document.querySelectorAll('.program .button').forEach((e) => e.addEventListener('click', (ev) => {
      ev.preventDefault();
      let program = ev.target.parentElement.childNodes[0].textContent
      document.querySelectorAll('.program').forEach((e) => e.classList.add('visually-hidden'))
      document.querySelectorAll('.contact').forEach((e) => e.classList.remove('visually-hidden'))
      document.getElementById('field-program').value = program
      document.getElementById('field-name').focus()
      window.scrollTo({
        top:100,
        left:0,
        behavior: 'smooth'
      })
    }))  
                                                      
  </script>
{% endblock %}
