.inspiration-grid {
  display:grid;
  grid-template-columns: 1fr;  
  grid-template-rows: .5fr repeat(6, 2.5fr);
  column-gap: 1em;
  justify-items: center;
  align-items: center;

  .inspired {
    width:90%;
    height:90%;
    margin: 1rem 0;
  }
}

.intro {

  // &__subHeading {
  //   font-size: 24.2px;
  //   text-align: center;
  //   color: var(--color-highlight);
  // }

  // &__image img{
  //   border-radius:  #{get-size(500)};
  // }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .inspiration-grid {
    grid-template-columns: 2fr 2fr;  
    grid-template-rows: 170fr repeat(4, 350px);
    
    .intro {
      &__headings {
        grid-column: 1 / 4;
        grid-row: 1/2;
        padding: 0 20%;
      }
    }

    .inspired {
      margin: #{get-size(800)};
      width:80%;
      height:80%;
      
    }
    .inspired:nth-of-type(1){
      grid-row: 2 / 3;
    }
  
    .inspired:nth-of-type(2){
      grid-row: 3 / 4;
    }
    .inspired:nth-of-type(3){
      grid-row: 4 / 5;
    }

  
    .reference {
      grid-column: 1 / 4;
    }
  
    .reference:nth-of-type(1) {
      grid-row: 2 / 4;
      margin: 1em 3em;
    }
    .reference:nth-of-type(n+2) {
      opacity: 0;
    }
  }
}
  

  // Large devices (desktops, 992px and up)
  // @media (min-width: 992px) { ... }
  
  // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px) { ... }