.inspiration-grid {
  display:grid;
  grid-template-columns: 1fr;  
  grid-template-rows: .5fr repeat(12, auto);
  column-gap: 1em;
  justify-items: center;
  align-items: center;
  padding-bottom: 4em;
  row-gap: 2em;

  .inspired {
    width:90%;
    height:90%;
    margin: 1rem 0;
    padding-bottom: 2em;
  }

  .reference {
    grid-column: 1 / 2;
    grid-row: -3 / -2;
    // margin: 1em 3em;
    width:100%;
    
    padding-bottom: 2em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .inspiration-grid {
    grid-template-columns: 2fr 2fr;  
    grid-template-rows: 170fr repeat(6, auto);
    
    .intro {
      &__headings {
        grid-column: 1 / 4;
        grid-row: 1/2;
        padding-bottom: 3em;
      }
    }

    .inspired {
      margin: #{get-size(800)};
      // width:80%;
      // height:80%;
      
    }
    .inspired:nth-of-type(2n +1){
      grid-column: 1 / 2;
    }
  
    .inspired:nth-of-type(2n){
      grid-column: 2 / 3;
    }

    .reference {
      grid-column: 1 / 4;
      grid-row: -3 / -2;
      margin: 1em 3em;
      width:75%;
    }
  }
}
  

  // Large devices (desktops, 992px and up)
  // @media (min-width: 992px) { ... }
  
  // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px) { ... }